@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Open+Sans&display=swap");

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body,
.content {
  font-family: Arimo;
  font-weight: normal;
  font-style: normal;
  color: #5b657e;
  margin: 0px;
  min-height: 100%;
  width: 100%;
}
/* this is needed to make the content scrollable on larger screens */
@media (min-width: 768px) {
  .h-md-100 {
    height: 100vh;
  }
}

.bg-purple {
  background-image: linear-gradient(to right, var(--third-color), var(--first-color));
}

@media (min-width: 768px) {
  .bg-purple {
    background-image: linear-gradient(var(--third-color), var(--first-color));
  }
}

.dropdown-menu-bg {
  background-color: var(--second-color-light) !important;
}

.nametag-bg {
  background-color: var(--second-color-light) !important;
  border-radius: 18px;
  box-shadow: 0px 10px 20px rgba(55, 55, 89, 0.08);
}

.dataTables_filter {
  display: none;
}

.no-gutter {
  margin-right: 0;
  margin-left: 0;
}

.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.control {
  display: block;
  position: absolute;
  color: var(--white-color);
  border: 0.15em solid var(--white-color);
  border-radius: 1em;
  box-shadow: 0 0 0.2em #444;
  box-sizing: content-box;
  text-align: center;
  text-indent: 0 !important;
  font-family: "Courier New", Courier, monospace;
  line-height: 1em;
}

.content {
  overflow-y: scroll !important;
}

.sidemenu {
  position: fixed !important;
  overflow-x: hidden !important;
  z-index: 1 !important;
  top: 0 !important;
  left: 0 !important;
}

.card {
  border: 0px !important;
  margin-bottom: 10px;
  border-radius: 15px !important;
  box-shadow: 0px 10px 20px rgba(55, 55, 89, 0.08);
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.form-select {
  border-radius: 20px;
  text-align: center;
  text-align-last: center;
  color: #7e868d;
  border: 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dataTables_length {
  padding-top: 10px;
  padding-bottom: 10px;
}

.dataTables_length .custom-select {
  padding: 12px 18px !important;
  margin-right: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

.table {
  border-collapse: separate;
  border-spacing: 0 1rem !important;
  color: #4c5466;
}

.table tr td:first-child,
.table tr th:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.table tr td:nth-last-child(2),
.table tr th:nth-last-child(2) {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.table tr td,
.table tr th {
  background: var(--white-color);
  border: 0px;
  vertical-align: middle;
}
.table th,
.table td {
  padding: 18px;
  font-weight: 400;
}
.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid rgba(55, 55, 89, 0.1);
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control::before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control::before {
  font-weight: 100;
  font-family: Arimo;
  content: "i" !important;
  background-color: var(--second-color-light);
}

.swal2-popup.swal2-toast .swal2-styled:focus,
.swal2-styled:focus,
.swal2-close:focus,
.swal2-styled.swal2-confirm {
  box-shadow: none !important;
  outline: none !important;
}

.swal2-title {
  font-size: 2rem;
  margin: 0;
  line-height: 1.5;
  font-weight: 500;
  color: #555;
}

.swal2-container {
  z-index: 100 !important;
}

.ui-timepicker-wrapper {
  text-align: center !important;
  width: 10em !important;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
  background: var(--second-color-light) !important ;
}

.page-item.active .page-link,
.list-group-item.active,
.form-check-input:checked {
  background-color: var(--second-color-light);
  border-color: var(--second-color-light);
}

.page-link,
.page-link:hover {
  color: var(--second-color-light);
}

.nav-pills .nav-link.active {
  background: linear-gradient(45deg, var(--second-color), var(--second-color-light)) !important;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mc-calendar--modal{
  z-index: 10001 !important;
}

.mc-calendar--modal,
.mc-date--active.mc-date--picked,
.mc-calendar--modal .mc-display {
  background-color: var(--second-color-light) !important;
}

.mc-btn--success {
  color: var(--second-color-light) !important;
}

/** date picker custom theme **/

.tr-shadow {
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.03);
}

.dataTables_wrapper {
  padding: 0 !important;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col-sm-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

th.dt-center,
td.dt-center {
  text-align: center;
}

.label.label-lg.label-inline {
  width: auto;
}
.label.label-inline.label-lg {
  padding: 0.4rem 0.75rem;
}
.label.label-lg {
  height: auto !important;
  width: 24px;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .label.label-inline {
    white-space: nowrap;
  }
}
.label.label-inline {
  width: auto;
  padding: 0.15rem 0.75rem;
  border-radius: 0.42rem;
}
.label.label-light-primary {
  color: #fc9730;
  background-color: #ffe8d2;
}

.label.label-light-danger {
  color: #f64e60;
  background-color: #ffe2e5;
}

.label.label-light-warning {
  color: #d8c300;
  background-color: #FFF5CC;
}

.label.label-light-success {
  color: #1bc5bd;
  background-color: #c9f7f5;
}

.label.label-light-info {
  color: #8950fc;
  background-color: #eee5ff;
}

.label.label-light-default {
  color: #0089d8;
  background-color: #bfeaff;
}

.label {
  padding: 0;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 0.8rem;
  background-color: #ebedf3;
  color: #3f4254;
  font-weight: 400;
  height: 20px;
  width: 20px;
  font-size: 0.8rem;
}


*,
::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  background-color: #f6f7f8;
}

.main-card {
  background-color: var(--second-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='99' height='99' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%2334006c' %3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='1'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

a {
  text-decoration: none;
}

/* unvisited link visited link */
header a:link,
header a:visited,
header i {
  color: var(--white-color);
}

/* mouse over link selected link */
header a:hover,
header a:active {
  color: #aaa;
}

.header,
.header-bg {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: var(--z-fixed);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background: transparent;
}

.header-bg {
  background-image: linear-gradient(var(--second-color), var(--first-color));
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.header_toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header_img {
  display: flex;
  justify-content: center;
}

.header_img img {
  width: 40px;
}

.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}

.side-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav_logo {
  margin-bottom: 2rem;
}

.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav_logo-name {
  max-width: auto !important;
}

.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.nav_link:hover {
  color: var(--white-color);
}

.nav_icon {
  font-size: 1.25rem;
}

.show-navbar {
  left: 0;
}

.body-pd,
.toggle-pd {
  padding-left: calc(var(--nav-width));
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

.height-100 {
  height: 100vh;
}

.header_logo {
  height: auto;
  width: auto;
  max-height: calc(var(--header-height) - 2rem);
}

.text_job_area {
  margin: 0;
}

#sidemenu_logo {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.profile-header {
  width: 100px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -50px;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(36, 62, 206, 0.6);
  color: var(--white-color);
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}

.profile-header:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__description {
  transition: 0.2s;
  transform: translateY(1em);
}

.profile-header:hover .img__description {
  transform: translateY(0);
}

#cropperjs {
  display: block;
  max-width: 100%;
}

/* bugfixes */

td.active::before,
button.active::before {
  background-color: transparent;
}

.aceitar {
  color: var(--green-color);
}

.recusar {
  color: var(--red-color);
}

/* bugfixes */

@media screen and (max-width: 350px) {
  .simpilepicker-date-picker {
    width: auto !important;
  }
}

@media screen and (max-width: 768px) {
  main {
    padding-top: var(--header-height);
  }
}
@media screen and (min-width: 768px) {
  body {
    margin-top: calc(var(--header-height));
    padding-left: calc(var(--nav-width));
  }

  main {
    padding-top: 1rem;
  }

  .header,
  .header-bg {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header_logo {
    height: auto;
    width: auto;
    max-height: calc(var(--header-height) - 1rem);
  }

  .header_img {
    width: 40px;
    height: 40px;
  }

  .header_img img {
    width: 45px;
  }

  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }

  .show-navbar {
    width: calc(var(--nav-width) + 156px);
  }

  .body-pd {
    padding-left: calc(var(--nav-width) + 156px);
  }

  .toggle-pd {
    padding-left: 156px;
  }

  .sml-logo-pd {
    padding-left: 78px;
  }
}
.img_bg {
  background-image: url(../img/student_bg.jpg);
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 250px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/* If the screen size is 768px wide or more */
@media screen and (min-width: 768px) {
  .main-card {
    width: 1200px;
  }
}

.job_desc {
  background: #f6f8fe;
  padding: 12px;
  border-radius: 18px;
}
