.nav-link,
.nav-link:hover {
  color: var(--second-color-light);
}

.swal2-title {
  font-weight: 500 !important;
}

.swal2-progress-steps {
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  max-width: 90% !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.swal2-progress-step-line {
  max-width: 2vw !important;
}

.swal2-header {
  padding: 0 !important;
}

.loading-animation {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading-animation div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: var(--first-color);
  border-radius: 50%;
  animation: loading-animation 1.2s linear infinite;
}
.loading-animation div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.loading-animation div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.loading-animation div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.loading-animation div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.loading-animation div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.loading-animation div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.loading-animation div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.loading-animation div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.loading-animation div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.loading-animation div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.loading-animation div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.loading-animation div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes loading-animation {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
}

.swal2-accordion .accordion-button {
  font-size: 1vw;
  font-weight: bold;
  border-radius: 20px !important;
}

.swal2-accordion .accordion-item {
  background-color: transparent !important;
}

.swal2-accordion .accordion-body {
  padding: 1.5rem 1.5rem !important;
  background-color: var(--white-color);
  border-radius: 20px;
  margin-top: 15px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .swal2-accordion .accordion-button {
    font-size: 3vw;
  }
}

@media (max-width: 767px) {
  .swal2-accordion .accordion-button {
    font-size: 4vw;
  }
}

.swal2-loading-message::before {
  content: "\e030";
  font-family: "Glyphicons Halflings";
  display: inline-block;
  width: 1.5em;
  min-width: 1.5em;
  height: 1.5em;
  margin: 0 0.625em;
  border-radius: 50%;
  background-color: var(--second-color-light);
  color: #fff;
  font-weight: 100;
  line-height: 1.5em;
  text-align: center;
  animation: rotation 1s infinite linear;
}

.swal2-loading-message {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0.625em;
  overflow: hidden;
  background: #f0f0f0;
  color: #666;
  font-size: 1em;
  font-weight: 300;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
