:root {
    --header-height: 5rem;
    --nav-width: 78px;
    --first-color: #2a004f;
    --first-color-light: #afa5d9;
    --second-color: #3b0072;
    --second-color-light: #5f00db;
    --third-color: #180a29;
    --auxiliary-color: #00DDAA;
    --green-color: #32cd32;
    --red-color:#ff0033;
    --white-color: #f7f6fb;
    --body-font: "Arimo", sans-serif;
    --normal-font-size: 0.9rem;
    --z-fixed: 100;
  }

.btn-blue,
.btn-blue:active {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: normal;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 16px 32px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-in-out;
  border: none;
  background: var(--auxiliary-color) !important;
  line-height: normal;
  color: #150027 !important;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}

.btn-green,
.btn-green:active {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: normal;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 16px 32px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-in-out;
  border: none;
  background-color: var(--green-color) !important;
  line-height: normal;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}

.btn-red,
.btn-red:active {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: normal;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 16px 32px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-in-out;
  border: none;
  background-color: var(--red-color) !important;
  line-height: normal;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}

.btn-hover {
  position: relative;
  overflow: hidden;
}
.btn-hover::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.05);
  top: 50%;
  left: 50%;
  padding: 50%;
  z-index: -1;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(0);
  -moz-transform: translate3d(-50%, -50%, 0) scale(0);
  -ms-transform: translate3d(-50%, -50%, 0) scale(0);
  -o-transform: translate3d(-50%, -50%, 0) scale(0);
  transform: translate3d(-50%, -50%, 0) scale(0);
}
.btn-hover:hover::after {
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1.3);
  -moz-transform: translate3d(-50%, -50%, 0) scale(1.3);
  -ms-transform: translate3d(-50%, -50%, 0) scale(1.3);
  -o-transform: translate3d(-50%, -50%, 0) scale(1.3);
  transform: translate3d(-50%, -50%, 0) scale(1.3);
}

.btn,
.btn:active {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: normal;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 16px 32px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-in-out;
  border: none;
  background: linear-gradient(45deg, #8924e2, #5f00db) !important;
  line-height: normal;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}

.btn-round,
.btn-round {
  display: inline-block;
  font-weight: 500;
  width: 50px;
  height: 50px;
  text-align: center;
  white-space: normal;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 6px;
  margin: 3px;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-in-out;
  border: none;
  background: linear-gradient(45deg, #8924e2, #5f00db) !important;
  line-height: normal;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}

.btn-check:checked + .btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
  background: var(--green-color) !important;
}

.btn:disabled,
.btn[disabled] {
  border: none;
  background: #ccc !important;
  line-height: normal;
}

.nav-ios:first-of-type {
    border-radius: 28px 0px 0px 28px !important;
    border: 2px solid var(--third-color);
    border-right: 0;
}

.nav-ios:not(:first-of-type):not(:last-of-type){
    border-radius: 0px !important;
    border: 2px solid var(--third-color);
    border-left: 0;
    border-right: 0;
}
  
.nav-ios:last-of-type {
  border-radius: 0 !important;
  border: 2px solid var(--third-color);
  border-left: 0;
  height: 100%;
}

.nav-ios:last-of-type {
  border-radius: 0 28px 28px 0 !important;
  border: 2px solid var(--third-color);
  border-left: 0;
}
  
.nav-pills-ios .nav-link.active {
  color: var(--white-color);
  background-color: var(--third-color) !important;
}

.nav-pills-ios .nav-link {
  color: var(--third-color);
}

.input-group {
    text-align: center;
}

.list-group{
    border-radius:20px;
}

.list-group-item {
    -webkit-appearance: none;
    display: flex;
    position: auto !important;
}

.list-group-style {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-control {
    color: #7e868d;
    min-height: 50px;
    border-radius: 20px;
    padding: 4px 12px;
    border-color: #eee;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
.form-control:disabled {
  background-color: #eee;
  opacity: 1;
  color: #323232;
}

.form-control-dynamic {
  overflow: auto;
  color: #7e868d;
  border-radius: 20px;
  padding: 12px 38px;
  border-color: #eee;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-control:focus,
.form-control-large:focus {
  border-color: var(--auxiliary-color);
}

.form-group {
  position: relative;
  padding: 10px;
  text-align: center;
}